$primary: #0E3328;
$radius: 0;

@import "../../node_modules/bootstrap/scss/bootstrap";

body, html, #root {
    height: 100%;
    width: 100%;
}

body {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    background: url('../images/pexels-irina-iriser-1420008.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
    display: flex;
}

#root{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.loading{
    margin: auto;
    i{
        opacity: 1;
    }
}

.ultra-light{
    font-family: 'Open Sans Condensed', sans-serif;
}

h2{
    font-family: 'Kaushan Script', cursive;
}