$primary: #0E3328;
$radius: 0;

@import "../../node_modules/bootstrap/scss/bootstrap";

body, html, #root {
    height: 100%;
}

body {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    
}

.ultra-light{
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-family: 'Kaushan Script', cursive;
}